*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body,
#root{
  width:100%;
  min-height:100%;
  overflow-x:hidden;
  overflow-y:auto;
}

body{
  background:#f5f7fb;
  font-family:"Segoe UI",sans-serif;
}

a{
  text-decoration:none;
  color:inherit;
}

button,
input,
select,
textarea{
  font-family:inherit;
}